.nav {
  background: $hoofdKleur;
  transition: top 1s;
  position: relative;
  top: auto;
  &__label {
    font-family: Fontawesome;
    font-size: 1.5em;
    display: block;
    color: $achtergrondKleur;
    padding: .2em .2em .2em 2rem;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__cb {
    display: none;
    &:checked ~ .nav__list {
      display: none;
    }
  }
  &__item {
    display: block;
    padding: 0.2em 2em;
    text-decoration: none;
    color: #ccc;
    &:hover {
      color: #fff;
      background-color: $contrastKleur;
    }
    &--active {
      background-color: $steunKleur2;
      color: $hoofdKleur;
      &:hover {
        background-color: $steunKleur2;
        color: $hoofdKleur;
      }
    }
  }
}

.kleven {
  position: fixed;
  width: 100%;
  animation: schuifNavIn .9s forwards;
}
.verbergen {
  position: fixed;
  width: 100%;
  animation: schuifNavWeg .9s forwards;
}

@keyframes schuifNavIn {
  0% {top: -2em}
  100% {top: 0}
}
@keyframes schuifNavWeg {
  0% {top: 0}
  100% {top: -2em}
}
