.nav {
  display: block;
  &__list {
    display: flex;
  }
  &__cb:checked ~ .nav__list {
    display: flex;
  }
  &__labelText {
    display: none; // het hamburgerteken
  }
  &__item {
    // display: flex;
  }
}

.inhoud {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}
