// kleurenschema delftsblauw
// https://www.perron11.nl/home/showphoto/053453b3-2abf-4dc9-9a8d-81b846641c0c/home-schoolschrift-amsterdamse-grachtenpandjes-delfts-blauw-2.png
// RGB
// 54 62 114
// 69 85 142
// 144 157 192
// 93 96 73
// 242 243 245
//
// HEX
// 363e72
// 45558e
// 909dc0
// 5d6049
// f2f3f5
//
// HSB
// 232 53 45
// 227 51 56
// 224 25 75
// 68  24 38
// 220 1 96


$hoofdKleur: hsl(232, 53%, 45%);
$steunKleur: hsl(227, 51%, 56%);
$steunKleur2: hsl(224, 25%, 75%);
$contrastKleur: hsl(68, 24%, 38%);
$achtergrondKleur: hsl(220, 1%, 96%);
